<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/editHouse" method="post">

    <input type="text" name="city" placeholder="city">
    <br>
    <input type="text" name="street" placeholder="street">
    <br>
    <input type="number" name="square" placeholder="square">
    <br>
    <input type="number" name="price" placeholder="prise">
    <br>
    <input type="number" name="id" placeholder="id">
    <br>
    <input type="submit">

</form>

</body>
</html>